body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #da5037; /* Orange background */
  
  font-family: "Share Tech Mono", monospace;
  color: #fff8dc; /* Whitish-yellow text */
}

.container {
  margin-bottom: auto;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.logo {
  text-align: center;

}
.logo img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  bottom: 30px;
  border: 5px solid var(--accent-color);
  transition: all 0.3s ease;
}
.logo h1 {
  font-size: 40px;
  margin-top: auto;
  color: #fff8dc;
  position: relative;
  
  bottom: 120px;
}
@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.progress-container {
  
  width: 95%;
  height: 20px;
  background-color: rgb(241, 228, 213,0.3); /* Light beige background */
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  bottom: 70px;
  
}

.progress-bar {
  
  height: 100%;
  background-color: #fff8dc; /* Whitish yellow */
  border-radius: 0px;
  transition: width 0.1s ease-in-out; /*  progress change */
}

  #loading-text {
    position: relative;
  display: flex;
  place-items: center ;
    font-size: 13px;
    color: #fff8dc; 
    bottom: 195%;
    
  }
.branding{
  font-size: 15px;
  margin-top: auto;
  color: #fff8dc;
  position: relative;
  
  bottom: 1%;
  
}
